__pycache__/
*.pyc
data/
datasets/
outputs/
*.csv
*.parquet
.streamlit/secrets.toml
.streamlit/authenticator.yaml
.env
.venv/
node_modules/
header_tab/build/
header_tab2/build/
header_tab3/build/
.DS_Store
.idea/
.vscode/
